<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="!isLoading">
  <div class="content">
    <button
      class="left-button"
      mat-raised-button
      color="cancel"
      (click)="goBack()"
    >
      POWRÓT
    </button>
    <button
      class="right-button"
      mat-raised-button
      color="nav-button"
      (click)="openDialog()"
    >
      DODAJ ZNAJOMEGO
    </button>
    <h1 class="heading">ZNAJOMI</h1>

    <div class="table">
      <table mat-table [dataSource]="friendsData" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Nazwa użytkownika</th>
          <td mat-cell *matCellDef="let element">
            {{ element.username }}
          </td>
        </ng-container>

        <ng-container matColumnDef="clubName">
          <th mat-header-cell *matHeaderCellDef>Nazwa klubu</th>
          <td mat-cell *matCellDef="let element">{{ element.clubName }}</td>
        </ng-container>

        <ng-container matColumnDef="results">
          <th mat-header-cell *matHeaderCellDef>Ostatnie wyniki</th>
          <td mat-cell *matCellDef="let element">{{ element.results }}</td>
        </ng-container>
        <ng-container matColumnDef="league">
          <th mat-header-cell *matHeaderCellDef>Liga</th>
          <td mat-cell *matCellDef="let element">{{ element.league }}</td>
        </ng-container>
        <ng-container matColumnDef="clubRating">
          <th mat-header-cell *matHeaderCellDef>Rating składu</th>
          <td mat-cell *matCellDef="let element">{{ element.clubRating }}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="text-align: center; width: 20px"
          >
            Usuń
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button
              mat-button
              style="align-items: center; width: 20px"
              (click)="removeFriend(i)"
            >
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
