::ng-deep button.mat-mdc-raised-button.mat-save {
  color: white;
  background-color: #4e9a33;
  border-radius: 25px;
  width: 205px; /* Szerokość przycisku */
  height: 50px;
  margin-bottom: 10px;
  font-size: medium;
}
::ng-deep button.mat-mdc-raised-button.mat-save:disabled {
  color: white;
  background-color: #cccccc;
  cursor: not-allowed;
}

::ng-deep button.mat-mdc-raised-button.mat-nav-button {
  color: white;
  background-color: #2176ae;
  background: radial-gradient(#2176ae, rgb(50, 30, 136));
  border-radius: 25px;

  width: 300px; /* Szerokość przycisku */
  height: 100px;
  font-size: 30px;
  line-height: 1.5;
}

::ng-deep body {
  margin: 0;
  padding: 0;
  background-image: url(/assets/background.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;

  resize: none;
}
::ng-deep button.mat-mdc-raised-button.mat-cancel {
  color: white;
  background-color: #9e2121;
  border-radius: 25px;
  width: 205px; /* Szerokość przycisku */
  height: 50px;
  margin-bottom: 10px;
  font-size: medium;
}
::ng-deep.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ustawia wysokość kontenera na całą wysokość widocznego obszaru */
}
::ng-deep .success-snackbar.mat-mdc-snack-bar-container {
  background-color: #009726; /* Custom background color */
  color: white; /* Custom text color */
  display: flex;
  align-items: center;
  width: 300px;
}

::ng-deep .greenSnackbar {
  background: rgb(65, 252, 134);
  color: white;
}
