<div class="container">
  <div class="content">
    <button
      class="left-button"
      mat-raised-button
      color="cancel"
      routerLink="/club"
    >
      POWRÓT
    </button>
    <h1 class="heading">RYNEK TRANSFEROWY</h1>
    <div class="box">
      <div class="squad">
        <mat-grid-list cols="7">
          <mat-grid-tile
            *ngFor="
              let footballer of footballers?.slice(
                currentPage * 28,
                (currentPage + 1) * 28
              )
            "
          >
            <mat-card
              class="footballer1"
              (click)="buyFootballer(footballer?.id)"
            >
              <mat-card-header>
                <mat-card-title
                  ><b>{{
                    footballer.name + " " + footballer.surname
                  }}</b></mat-card-title
                >
                <mat-card-subtitle>{{ footballer.position }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <h2>
                  {{ footballer.rating }}
                </h2>
                <p>{{ footballer.positions }}</p>
                <p>${{ footballer.value }}</p>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-paginator
          [length]="footballers?.length"
          [pageSize]="28"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </div>

      <div class="info">
        <h1>SALDO KLUBU: <b>445000</b></h1>

        <div class="filters">
          Filtruj:
          <h2 mat-dialog-title>filtruj zawodników:</h2>
          <mat-dialog-content>
            <p>Cena:</p>
            <mat-form-field style="width: 130px">
              <mat-label>od:</mat-label>
              <input
                matInput
                type="number"
                placeholder="0"
                [(ngModel)]="filters.priceFrom"
              />
              <span matTextSuffix>$</span>
            </mat-form-field>
            <mat-form-field style="width: 130px">
              <mat-label>do:</mat-label>
              <input
                matInput
                type="number"
                placeholder="0"
                [(ngModel)]="filters.priceTo"
              />
              <span matTextSuffix>$</span>
            </mat-form-field>

            <p>Rating:</p>
            <mat-form-field style="width: 130px">
              <mat-label>od:</mat-label>
              <input
                matInput
                type="number"
                placeholder="0"
                [(ngModel)]="filters.ratingFrom"
              />
            </mat-form-field>
            <mat-form-field style="width: 130px">
              <mat-label>do:</mat-label>
              <input
                matInput
                type="number"
                placeholder="0"
                [(ngModel)]="filters.ratingTo"
              />
            </mat-form-field>

            <p>Wybierz pozycje:</p>
            <mat-form-field>
              <mat-label>Pozycja:</mat-label>
              <mat-select required [(ngModel)]="filters.position">
                <mat-option
                  *ngFor="let position of positions"
                  [value]="position"
                  >{{ position.nameOfPosition }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </mat-dialog-content>

          <mat-dialog-actions>
            <button
              mat-raised-button
              color="nav-button"
              (click)="loadFootballers()"
            >
              FILTRUJ ZAWODNIKÓW
            </button>
          </mat-dialog-actions>

          <br />
          <button
            mat-raised-button
            color="cancel"
            style="margin: 10px"
            (click)="resetFilters()"
          >
            RESETUJ FILTRY
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
