<div class="content">
  <h2 mat-dialog-title>Zmień formację z <b>1-4-3-3</b></h2>
  <mat-dialog-content>
    <br />
    <mat-form-field>
      <mat-label>Wybierz formację:</mat-label>
      <mat-select required>
        <mat-option value="_1_4_4_2">1-4-4-2</mat-option>
        <mat-option>1-3-5-2</mat-option>
        <mat-option>1-4-1-2-1-2</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="save">ZAPISZ</button>
  </mat-dialog-actions>
</div>
