<div class="content">
  <h2 mat-dialog-title>
    Zmień formację z <b>{{ data?.formation?.name }}</b>
  </h2>
  <mat-dialog-content>
    <br />
    <mat-form-field>
      <mat-label>Wybierz formację:</mat-label>
      <mat-select required [(ngModel)]="data.formation.code">
        <mat-option
          *ngFor="let formation of formations"
          [value]="formation.code"
          >{{ formation.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="save" (click)="changeFormation()">
      ZAPISZ
    </button>
  </mat-dialog-actions>
</div>
