<div class="content">
  <h2 mat-dialog-title>Dodaj nowego gracza jako znajomego!</h2>
  <mat-dialog-content>
    <br />
    <mat-form-field>
      <mat-label>wyszukiwanie po:</mat-label>
      <mat-select required [(ngModel)]="searchType">
        <mat-option value="username">nazwa użytkownika</mat-option>
        <mat-option value="email">email użytkownika</mat-option>
        <mat-option value="clubName">nazwa klubu</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ searchType }}</mat-label>
      <input matInput required [(ngModel)]="pattern" (input)="getResults()" />
    </mat-form-field>
  </mat-dialog-content>

  <div style="height: 400px; overflow: auto">
    <table mat-table [dataSource]="friendResults" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Nazwa użytkownika</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.username }}
        </td>
      </ng-container>

      <ng-container matColumnDef="clubName">
        <th mat-header-cell *matHeaderCellDef>Nazwa klubu</th>
        <td mat-cell *matCellDef="let element">{{ element?.clubName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.selected]="row === selectedRow"
        (click)="selectRow(row)"
      >
        >
      </tr>
    </table>
  </div>

  <mat-dialog-actions>
    <button
      mat-raised-button
      color="save"
      (click)="addFriend()"
      [disabled]="!selectedRow"
    >
      dodaj znajomego
    </button>
  </mat-dialog-actions>
</div>
