
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-bottom: 20px;
    flex-grow: 1;
    cursor: pointer;
  }
  
  .nav-item a {
    display: block;
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 20px;
    background: radial-gradient(rgb(212, 119, 119), rgb(77, 30, 30));
  }
  
  .nav-item a:hover {
    background: radial-gradient(red, red);
    background-color: hsl(0, 0%, 10%);
  }
  