<div class="home">
  <img id="logo" src="../../../assets/logo.png" />
  <ul class="navbar-nav">
    <span *ngIf="!isAuthenticated()">
      <li class="nav-item">
        <button mat-raised-button color="nav-button" routerLink="/login">
          LOGIN
        </button>
      </li>
      <li class="nav-item">
        <button mat-raised-button color="nav-button" routerLink="/register">
          REJESTRACJA
        </button>
      </li>
    </span>

    <span *ngIf="isAuthenticated()">
      <li *ngIf="player?.clubId" class="nav-item">
        <button mat-raised-button color="nav-button" routerLink="/club">
          TWÓJ KLUB
        </button>
      </li>
      <li *ngIf="!player?.clubId" class="nav-item">
        <button mat-raised-button color="nav-button" (click)="openDialog()">
          UTWÓRZ KLUB
        </button>
      </li>
      <li class="nav-item">
        <button mat-raised-button color="nav-button" routerLink="/friends">
          ZNAJOMI
        </button>
      </li>
    </span>

    <li class="nav-item">
      <button mat-raised-button color="nav-button" routerLink="/aboutApp">
        O APLIKACJI
      </button>
    </li>
    <span *ngIf="isAuthenticated()">
      <li class="nav-item">
        <button
          mat-raised-button
          color="nav-button"
          (click)="this.authService.logout()"
        >
          WYLOGUJ
        </button>
      </li>
    </span>
  </ul>
</div>
