<h2 mat-dialog-title>
  Create your club <b>{{ data.name }}</b
  >!
</h2>
<div class="content">
  <mat-dialog-content>
    <p>Nazwa klubu:</p>
    <mat-form-field>
      <mat-label>nazwa</mat-label>
      <input matInput required [(ngModel)]="clubReq.name" />
    </mat-form-field>

    <p>Wybierz wstępną formację:</p>
    <mat-form-field>
      <mat-label>formacja</mat-label>
      <mat-select required [(ngModel)]="clubReq.formation">
        <mat-option
          *ngFor="let formation of formations"
          [value]="formation.code"
          >{{ formation.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
</div>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="createClub()" cdkFocusInitial>Utwórz klub</button>
</mat-dialog-actions>
