<div class="container">
  <div class="content">
    <h1>Witamy z powrotem!</h1>
    <h3>Zaloguj się:</h3>

    <form (ngSubmit)="onSubmit()">
      <div>
        <div *ngIf="loginError">
          <mat-error>Nie poprawny login lub hasło</mat-error>
        </div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            name="username"
            [(ngModel)]="loginCommand.username"
            required
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="loginCommand.password"
            name="password"
            required
          />
        </mat-form-field>
      </div>

      <button mat-raised-button color="save">ZALOGUJ</button>
    </form>
    <span
      >Nie masz jeszcze konta? <a href="/register">zarejestruj się!</a></span
    >
  </div>
</div>
