<div class="container">
  <div class="content">
    <button
      class="left-button"
      mat-raised-button
      color="save"
      routerLink="/club"
    >
      WYJDŹ Z MECZU
    </button>
    <h1 class="heading">TWÓJ MECZ!</h1>

    <div class="result">
      <h1>
        <b>{{ matchInfomation.hostClubName }}</b>
        {{ matchInfomation.hostTeamScore }}:{{ matchInfomation.guestTeamScore }}
        {{ matchInfomation.guestClubName }}
      </h1>
      <button mat-raised-button color="nav-button" routerLink="/results">
        NAGRODY:<br />
        <B
          >$ {{ matchInfomation.collectedMoney > 0 ? "+" : ""
          }}{{ matchInfomation.collectedMoney }} POINTS:
          {{ matchInfomation.collectedPoints > 0 ? "+" : ""
          }}{{ matchInfomation.collectedPoints }}</B
        >
      </button>
      <button mat-raised-button color="nav-button" routerLink="/results">
        AKTUALNA LIGA: <B>{{ matchInfomation.league }}</B>
      </button>
    </div>
  </div>
</div>
