<div class="container">
  <div class="content">
    <button
      class="left-button"
      mat-raised-button
      color="save"
      routerLink="/club"
    >
      WYJDŹ Z MECZU
    </button>
    <h1 class="heading">TWÓJ MECZ!</h1>

    <div class="result">
      <h1><b>testTeam</b> 1:0 Real Madrid</h1>
      <button mat-raised-button color="nav-button" routerLink="/results">
        NAGRODY:<br />
        <B>$ +7500 POINTS: +500</B>
      </button>
      <button mat-raised-button color="nav-button" routerLink="/results">
        AKTUALNA LIGA: <B>3</B>
      </button>
    </div>
  </div>
</div>
